{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <title>게임 순위</title>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="container">
        <header>
            <div class="navbar">
                <nav>
                    <ul>
                        <li><a href="{% url 'home' %}">Steam forest</a></li>
                        <li><a href="{% url 'rank' %}">게임 순위</a></li>
                        <li><a href="{% url 'sale' %}">인기 세일</a></li>

                        <form class="search" style="background-color: #333333; margin-right: -460px;" action="{% url 'search' %}" method="GET">
                            <input type="text" name="q" placeholder="검색어를 입력하세요" style="background-color: #333333;"/>
                            <button type="submit">검색</button>
                        </form>
                    </ul>
                </nav>
            </div>
        </header>
        <div class="container2">
            <section>
                <div style="border: 3px solid #ccc; padding: 10px;">
                    <ul style="display: flex; align-items: center;">
                        {% for app in apps %}
                            {% endfor %}
                        <li style="margin-right: 150px;">
                            {% if json_data %}
                                <img src="{{ json_data.header_image }}" alt="헤더" style="max-width: 550px; height: 350px; border: 3px solid #ccc;">
                            {% else %}
                                <img src="{% static 'default_header.jpg' %}" alt="헤더" style="max-width: 550px; height: 350px; border: 3px solid #ccc;">
                            {% endif %}
                        </li>
                        <li>
                            {% if json_data %}
                                <h1>{{ json_data.name }}</h1>
                                <h4>출시일: {{ json_data.release_date.date }}</h4>
                                {% if json_data.is_free %}
                                    <h4>가격: 무료</h4>
                                {% elif json_data.price_overview.discount_percent > 0 %}
                                    <h4>
                                        <s>{{ json_data.price_overview.initial_formatted }}</s>
                                        → <b>{{ json_data.price_overview.final_formatted }}</b>
                                        ({{ json_data.price_overview.discount_percent }}%)
                                    </h4>
                                {% else %}
                                    <h4>가격: {{ json_data.price_overview.final_formatted }}</h4>
                                {% endif %}
                                <a href="https://store.steampowered.com/app/{{ json_data.steam_appid }}" style="color: #040303;">다운로드</a>
                            {% else %}
                                <h1>게임 정보를 불러올 수 없습니다.</h1>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </section>
        </div>
    </div>
</body>
</html>
