{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <title>게임 순위</title>
    <meta charset="UTF-8">
    <title>$Title$</title>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<div class="container">
    <header>
        <div class="navbar">
            <nav>
                <ul>
                    <li><a href="{% url 'home' %}">Steam forest</a></li>
                    <li><a href="{% url 'rank' %}">게임 순위</a></li>
                    <li><a href="{% url 'sale' %}">인기 세일</a></li>

                    <form class="search" action="{% url 'search' %}" method="GET" style="margin-right: -460px;">
                        <input type="text" name="q" placeholder="검색어를 입력하세요" style="background-color: #333333;"/>
                        <button type="submit">검색</button>
                    </form>
                </ul>
            </nav>
        </div>
    </header>

    <div class="container2">
        <h2>게임 순위</h2>
        <div>
            {% for app in apps %}
                <div>
                    <div class="box" style="border: 1px solid #ccc; padding: 10px; background-color: #f5f5f5;">
                        <div class="card">
                            <a href="{% url 'detail' app.data.steam_appid %}">
                                <div style="display: flex;">
                                    <img style="width: 100px; height: 100px; margin-right: 10px;" src="{{app.data.header_image}}" alt=""/>
                                    <div style="display: flex; flex-direction: column;">
                                        <span style="color: #040303; font-size: 20px;">{{ app.data.name }}</span>
                                        <p style="font-size: 16px; margin: 0;">출시일자: {{ app.data.release_date.date }}</p>
                                        <p style="font-size: 16px; margin: 0;">가격: {% if app.data.price_overview.final_formatted %}{{ app.data.price_overview.final_formatted }}{% else %}무료{% endif %}</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
</body>
</html>