{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>$Title$</title>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <style>
        table {
            border-collapse: collapse;
            width: 1500px;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }

        td a{
            text-decoration-line: none
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
<div class="container">
    <header>
        <div class="navbar">
            <nav>
                <ul>
                    <li><a href="{% url 'home' %}">Steam forest</a></li>
                    <li><a href="{% url 'rank' %}">게임 순위</a></li>
                    <li><a href="{% url 'sale' %}">인기 세일</a></li>
                </ul>
            </nav>
        </div>
    </header>
</div>
<h2>검색 결과</h2>
<form class="search" style=" margin-right: -460px;" action="{% url 'search' %}" method="GET">
    <input type="text" name="q" placeholder="검색어를 입력하세요" style="background-color: #333333;"/>
    <button type="submit">검색</button>
</form>
{% if object_list %}
  <ul>
      <table>
          <thead>
            <tr>
              <th>AppId</th>
              <th>제목</th>
            </tr>
          </thead>
          <tbody>
            {% for app in object_list %}
              <tr>
                  <td><a href="{% url 'detail' app.id %}" style="color: #040303">{{ app.id }}</a></td>
                  <td><a href="{% url 'detail' app.id %}" style="color: #040303">{{ app.name }}</a></td>
              </tr>
            {% endfor %}
          </tbody>
      </table>
  </ul>
{% else %}
  <h4>검색 결과가 없습니다.</h4>
{% endif %}
</body>
</html>